:global {
    .custom-toast {
        position: absolute;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        width: 24%;
        height: 10%;
        text-align: center;
        top: 0;
        left: 38%;
        -webkit-animation: seconds 1.0s forwards;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-delay: 5s;
        animation: seconds 2.0s forwards;
        animation-iteration-count: 1;
        animation-delay: 5s;
        border-radius: 10px;
        color: #fff;

        &.error {
            background-color: #e74c3c;
        }

        &.info {
            background-color: #3498db;
        }

        &.warning {
            background-color: #f1c40f;
        }

        &.success {
            background-color: #07bc0c;
        }
    }
}

@-webkit-keyframes:global(seconds) {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: -5%;
    }
}

@keyframes:global(seconds) {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: -5%;
    }
}
